---
import Layout from '../layouts/Layout.astro'
import styles from '../styles/blog.module.css'
---

<Layout>
  <div slot="main" class={styles.main}>
    <iframe
      style="border:none;width:100%;"
      height="750px"
      src="https://www.noway-form.com/ja/f/41b1d91e-7601-40a7-86df-b2c7208f4666/embed"
    ></iframe>
  </div>
</Layout>
